$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue:hsl(238, 22%, 44%);
$bright-blue:hsl(224, 93%, 58%);
$moderate-cyan:hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray:hsl(0, 0%, 75%);
$font-family:"Raleway";
$weight4: 400;
$weight7:700;
//---------------------Navbar -------------------------
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: $font-family;
    .logo-header {
        width: 150px;
        padding-top: 10px;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    li {
        list-style: none;
        margin-top: 30px;
    }
    a {
        color: $desaturated-blue;
        text-decoration: none;
        font-weight: $weight7;
        font-size: 18px;
        transition: all 0.3s ease;
        &:hover {
            color: $moderate-cyan;
        }
    }
}

@media screen and (max-width:768px) {
    .nav-links {
        width: 50%;
        a {
            align-items: center;
        }
    }
}

.top-row {
    padding: 5% 6%;
    .text-col {
        padding: 5% 6%;
        h1 {
            font-family: "Raleway";
            font-weight: 700;
            line-height: 1.5;
            font-size: 40px;
        }
        p {
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 1.5;
            font-size: 18px;
            padding: 0 0 3% 0;
        }
        input {
            height: 50px;
        }
        button {
            height: 50px;
        }
    }
    .img-col {
        padding: 3%;
        img {
            width: 100%;
        }
    }
}

.bg-middle {
    position: relative;
    top: 1px;
}

.middle-row {
    padding: 2% 6% 5% 6%;
    background-color: $light-grayish-blue;
    .text-col {
        padding: 3% 6%;
        h2 {
            font-family: "Raleway";
            font-weight: 700;
            line-height: 1.5;
            font-size: 40px;
        }
        p {
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 1.5;
            font-size: 18px;
            padding: 0 0 3% 0;
        }
        a {
            font-family: "Open Sans";
            font-weight: 400;
            line-height: 1.5;
            font-size: 1.5rem;
            text-decoration: underline;
            color: $moderate-cyan;
            img {
                width: 20px;
            }
        }
        .card {
            margin-top: 20px;
            .card-body {
                p {
                    font-family: "Open Sans";
                    font-weight: 400;
                    line-height: 1.5;
                    font-size: 18px;
                    padding: 0 0 3% 0;
                }
                .testimonial {
                    border-radius: 50%;
                    width: 90px;
                }
                .name-col {
                    .name-testimonial {
                        font-family: "Open Sans";
                        font-weight: 400;
                        line-height: 1.5;
                        font-size: 20px;
                        padding: 0 0 3% 0;
                        font-weight: $weight7;
                    }
                    p {
                        font-family: "Open Sans";
                        font-weight: 400;
                        line-height: 1.5;
                        font-size: 16px;
                        padding: 0 0 3% 0;
                    }
                }
            }
        }
    }
    .img-col {
        img {
            margin-top: 25%;
            width: 100%;
        }
    }
}

@media screen and (max-width:789px) {
    .illust2 {
        margin: 2% auto 10% auto!important;
    }
    .reverse {
        flex-flow: column-reverse;
    }
}

.cta-row {
    background-color: $desaturated-blue;
    padding: 5% 6%;
    .text-col {
        padding: 2% 6%;
        color: white !important;
        h2 {
            font-family: "Raleway";
            font-weight: $weight7;
            line-height: 1.5;
            font-size: 40px;
        }
        p {
            font-family: "Open Sans";
            font-weight: $weight4;
            line-height: 1.5;
            font-size: 16px;
            padding: 0 0 3% 0;
        }
    }
    .input-col {
        padding: 3% 5%;
        input {
            height: 50px;
            width: 100%;
            margin-bottom: 20px;
        }
        button {
            height: 50px;
            width: 50%;
        }
    }
}

@media screen and (max-width:789px) {
    .cta-row {
        text-align: center;
        .input-col {
            button {
                width: 100%;
            }
        }
    }
}

.footer-cont {
    background-color: $very-dark-blue;
    color: white;
    padding: 5% 6%;
    .logo-header {
        width: 150px;
        padding-top: 10px;
        margin-bottom: 20px;
    }
    h3 {
        font-family: "Raleway";
        font-weight: $weight4;
        line-height: 1.5;
        font-size: 20px;
        &:hover {
            color: $moderate-cyan;
        }
    }
    i {
        font-size: 25px;
        margin-right: 15px;
    }
    .contact-row {
        margin-left: 1%;
        &:hover {
            color: $moderate-cyan;
        }
    }
    .iconos {
        i {
            &:hover {
                color: $moderate-cyan;
            }
        }
    }
}

@media screen and (max-width:789px) {
    .footer-cont {
        text-align: center;
        .contact-row {
            justify-content: center;
        }
    }
}